<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49279373-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-49279373-1');
  </script>
  <title>{{ .Site.Title }}</title>
  {{ partial "meta" . }}
  {{ partial "header_includes" . -}}
</head>

<body>

  <div id="container">

    <header>
      <h1>
          <a href="{{ relURL "/" }}">{{ .Site.Title | markdownify }}</a>
      </h1>

      <ul id="social-media" class="fa-ul">
        {{ if .Site.Author.mastodon }}
        <li><a href="{{ .Site.Author.mastodon }}"><i class="fab fa-mastodon fa-fw"></i></a></li>
        {{ end }} {{ if .Site.Author.twitter }}
        <li><a href="https://twitter.com/{{ .Site.Author.twitter }}"><i class="fab fa-twitter fa-fw"></i></a></li>
        {{ end }} {{ if .Site.Author.github }}
        <li><a href="https://github.com/{{ .Site.Author.github }}"><i class="fab fa-github fa-fw"></i></a></li>
        {{ end }}
      </ul>
      {{ with .Site.Params.tagline }}
      <p><em>{{ . | markdownify }}</em></p>
      {{ end }}
    </header>

    {{ partial "nav" . }}

    <main>
