---
layout: default
title: Home
---

<div class="row">
    {% for post in site.posts limit:1 %}

        <div class="page-header">
            <h2><a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.date | date: "%-d %B %Y" }}</small></h2>
        </div>

        <div class="post-content front-page">
            {{ post.content }}
        </div>

        <div class="postnavlinks">
            <div class="clearfix"></div>
            {% if post.previous.url %}
                <div class="pull-left">
                    <a href="{{ post.previous.url }}"><i class="fa fa-arrow-left"></i> {{ post.previous.title }} [older]</a>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>

    {% endfor %}
</div>
