---
def_bg: "#44ae87"
act_bg: "#5ab695"
def_col: "#edf4ec"
act_col: "#dbffe9"

# lightest
green_0: "#caeade"
green_1: "#5beeb5"
green_2: "#55dfaa"
green_3: "#50d09f"
green_4: "#4ac194"
green_5: "#45b388"
green_6: "#3fa47d"
green_7: "#3a9572"
green_8: "#348667"
green_9: "#2e775b"
green_10: "#296950"
# darkest

---


{% include custom.partial.css %}